/* fondos (background)

background es un shorthand

background: red;
background-color: red;

*/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #eee;
  background-image: url(EDteam-logo-alt.png);
  background-repeat: no-repeat;
  background-size: 300px;
  /* background-position: left center right | top center bottom; */
  background-position: right 200px bottom 500px;
}

/* background-size background-position */
body {
  /* background-size: 800px; */
}
