/* color
frente (color) y fondo (background)

*/

/* body {
  background-color: red;
  color: white;
} */

/* h1 {
  border: 1px solid;
  box-shadow: 5px 5px 5px;
  background-color: yellow;
}

p {
  color: lime;
}

a {
  color: currentColor;
} */

/* color keywords */

/* body {
  background-color: rebeccapurple;
  color: transparent;
} */

/* Modo de color  RBG
    
    Existen dos modos de color basicos
      Aditivos (la suma da blamco)
          RGB (red, green, blue)
      Sustractivo (la suma da negro)
          CMYK (cyan, magenta, yellow, black)

    en el modo RGB tenemos 8 bits de color, significa que cada canal tiene
    2^8 variaciones posibles (256)  que comienzaan en 0 y termina en 255.

    R (255) G (255) B (255) --> 16.5 millones de colores

    rgb(255, 255, 255)
*/

/* body {
  background-color: rgb(255, 0, 0);
  background-color: rgb(0, 255, 0);
  background-color: rgb(0, 0, 255);
  background-color: rgb(0, 255, 255);
  background-color: rgb(255, 255, 0);
  background-color: rgb(255, 0, 255);
  background-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  background-color: rgb(128, 128, 200);
  background-color: rgb(128, 200, 128);
  background-color: rgb(0, 128, 128);
  background-color: rgb(160, 160, 160);
  background-color: rgb(128, 128, 0);
  background-color: rgba(255, 0, 0, .3);
} */

/* Notacion hexadecimal 

0 1 2 3 4 5 6 7 8 9 A B C D E F
0 1 2 3 4 5 6 7 8 9 A B C D E F

*/

body {
  /* background-color: #ff0000;
  background-color: #0F08; */
  /* background-color: rgb(0, 0, 255); */
  /* background-color: #00FFFF; */
  /* background-color: rgb(255, 255, 0); */
  /* background-color: rgb(255, 0, 255); */
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgb(255, 255, 255); */
  /* background-color: #707070; */
  /* background-color: rgb(128, 128, 200); */
  /* background-color: rgb(128, 200, 128); */
  /* background-color: rgb(0, 128, 128); */
  /* background-color: rgb(160, 160, 160); */
  /* background-color: rgb(128, 128, 0); */
  /* background-color: rgba(255, 0, 0, .3); */
}

/* Modo de color HSL

  Hue (tono, de 0 a 360 grados)
      Circulo cromatico
      0   rojo
      60  amarillo
      120 verde
      180 cyan
      240 azul
      300 magenta
      360 rojo

  Saturation (intensidad de color, de 0 es gris a 100% que es color puro)
  Light (luz, de 0 que es negro a 100% que es blanco)

*/

/* body {
  background-color: hsla(60, 100%, 20%, .8);
} */

/* Degradados lineales 

    background-image: linear-gradient(color1, color2, color3);
    background-image: linear-gradient([angle], color1 stop, color2 stop, color3 stop);
*/

body {
  height: 100vh;
  background-image: linear-gradient(yellow 25%, red 25%, red 60%, green 60%);
  background-image: linear-gradient(to bottom right, yellow, red);
  /* background-repeat: no-repeat; */
}
