*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background: rgba(0, 132, 255, 0.2);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30% 0px;
}

h1{
    width: 50%;
    height: 60px;
    background-color: #00f;
    text-align: center;
    color: #fff;
}