*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background: rgba(0, 132, 255, 0.2);
}

div{
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    background-color: blueviolet;
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 9px;
    border: 3px solid rgba(0, 0, 255, 0.575);
    color: #fff;
}