
*{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: crimson;
  text-align: center;
  background-color: aqua;
  padding: 30px 0px;
}

div{
  position: sticky;
  width: 100%;
  top: 0px;
  background-color: #f00;
  cursor: pointer;
}

article{
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

article a{
  text-decoration: none;
  text-align: center;
  padding: 15px;
  margin: 0px;
  color: #fff;
}

a:hover{
  background-color: aqua;
  font-weight: bold;
  color: #000;
}

.parrafo{
  height: 2000px;
}