h1{
  text-align: center;
}

div.contenedor{
  border: 3px dashed rgb(0, 0, 0);
  width: 30%;
  height: 100px;
  margin: auto;
  /*overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;*/
  overflow: auto;
}
