*{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

.container1{
    border: 5px solid rgb(72, 72, 231);
    margin: 30px;
    max-width: 300px;
    padding: 4px 10px;
    background-color: aqua;
    box-sizing: border-box;
}

.container2{
    border: 5px solid rgb(72, 72, 231);
    margin: 20px;
    max-width: 300px;
    padding: 4px 10px;
    background-color: aqua;
    box-sizing: border-box;
}



