/* Selectores compuestos: agrupados */

/* Selectores compuestos: combinados */
h1.title#title {
  color: rgb(0, 255, 42);
}

/* Selectores con Operadores */

* {
  color: orange;
}

p>strong {
  color: rgb(72, 255, 0);
}

p+div {
  border: solid 1px white;
}

p div {
  border: solid 1px white;
}

h1~p {
  background: green;
}

/* Selectores de atributo.
Usan []
[attr = "value"]
[attr]
*/

[type="text"] {
  border: 1px solid red;
  background: yellow;
}

[type="number"] {
  border: 1px solid green;
}

[required] {
  border-radius: 10px;
  background-color: aqua;
}

[value="Enviar"] {
  background-color: red;
  border: 2px solid #000;
  font-size: medium;
  font-weight: bold;
}

/* Comienza con [attr^="value"] */
[type^="sub"] {
  background-color: orange;
}

a[href^="http://"] {
  color: red;
  border-bottom: 1px dashed red;
}
