/* selectores 

selectores {
  propiedad1 : valor1;
  propiedad2 : valor2;
  }

1. Selectores simples (una palabra)
    h1 {}
2. Selectores compuestos (más de una palabra)
    h1 span {}
3. Selectores con operadores
    h1 + span {}

*/

p {
  color: red;
}

.title {
  color: green;
}

.description {
  color: blue;
}

.button {
  display: inline-block;
  padding: .75em 2em;
  background-color: steelblue;
  color: white;
  border-radius: .25em;
  cursor: pointer;
}
