h1{
  color: #ef476f;
  background-color: beige;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 8px 3px 6px #4e0c00;
  letter-spacing: 3px;
  word-spacing: 18px;
  text-decoration: overline underline;
}

.caja{
  padding: 15px;
  margin: auto;
  width: 70%;
  background-color: #219ebc;
  border-radius: 5px;
  color: #fff;
}

.texto{
  text-align: justify;
  /*direction: rtl;*/
  text-indent: 30px;
  line-height: 1.5rem;
  text-shadow: 3px 1px 2px black;
}