.container {
  display: flex;
  font-size: 3em;
  background: yellow;
}

.item {
  background: pink;
  /* 
  flex grow indica el factor de crecimiento 

  El navegador divide el espacio el espacio disponible entre
  la cantidad total de factores de crecimiento y se los asigna a los items
  
  */
  /* flex-grow: 2; */
  width: 300px;
  flex-shrink: 1;
}

.item:nth-child(3) {
  flex-shrink: 5;
}

.item:nth-child(even) {
  background: cyan;
}

.page {
  display: flex;
  height: 100vh;
  background-color: yellow;
}

.aside {
  width: 200px;
  background-color: red;
}

.main {
  background-color: green;
  flex-grow: 1;
}
