.container {
  display: flex;
  font-size: 1.5em;
  background: yellow;
  /* flex-direction: column; */
}

.item {
  background: pink;
  flex: 1;
  /* flex-grow: 1;
  flex-basis: 0; */
}

.item:nth-child(3) {
  flex-shrink: 5;
}

.item:nth-child(even) {
  background: cyan;
}

.page {
  display: flex;
  height: 100vh;
  background-color: yellow;
}

.aside {
  width: 200px;
  background-color: red;
}

.main {
  background-color: green;
  flex-grow: 1;
}
